.hCentered-div {
   align-content: center;
   text-align: center;
   height: auto;
   width: auto;
}

.small-centered-div {
   position: relative;
   text-align: center;
   width: 600px;
   margin: 100px auto;
}

.ingredientList {
   text-align: left;
   width: auto;
   height: auto;
   margin: 10px 0px 10px 0px;
}

.loader {
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.ingredient {
   display: inline-block;
   position: relative;
   width: auto;
   height: uto;
   padding: 0px 10px 10px 0px;
}

.animated {
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

.fadeOut {
   -webkit-animation-name: fadeOut;
   animation-name: fadeOut;
}

@keyframes fadeIn {
   0% {opacity: 0; height: 0px;}
   100% {opacity: 1; height: 460px;}
}

@keyframes fadeOut {
   0% {opacity: 1; height: 460px;}
   100% {opacity: 0; height: 0px;}
} 
